.resizable-divider {
  width: 4px;
  background-color: #bdc3c7;
  cursor: col-resize;
  transition: background-color 0.2s ease;
  user-select: none;
  flex-shrink: 0;
  position: relative;
}

.resizable-divider:hover {
  background-color: #95a5a6;
}

.resizable-divider.dragging {
  background-color: #2196f3;
}

.resizable-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: 0;
  /* Invisible wider hit area for easier grabbing */
}
